target/classes/uriparams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="mu.mulesoft-training.com" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="uriparamsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/uriparams/{destination}" doc:name="HTTP"/>
        <logger message="The message recieved....." level="INFO" doc:name="Logger"/>
        <flow-ref name="uriparamsFlow1" doc:name="Flow Reference"/>
        <logger message="message... #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="uriparamsFlow1">
        <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights/#[message.inboundProperties.'http.uri.params'.destination]" method="GET" doc:name="HTTP"/>
        <logger message="the message got recieved.....#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
